body{
margin: 0px;
background: url(Lx0q.gif) no-repeat center center fixed;
background-size: cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-color:lightskyblue;
box-sizing: border-box;
}

.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-sizing: border-box;
}

.bg{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 215px;
    width: 70vh;
    height: 70vh;
    box-shadow: 5px 0.5px 20px 1px black, -5px -0.5px 20px 0px black,inset 5px 0.5px 17px 4px rgb(169, 169, 169,0.8),inset 5px -0.5px 17px 4px black;
}

.header{
    margin-bottom: 0px;
    margin-top: 5vh;
    margin-bottom: 2vh;

}

#location{
    color: blanchedalmond;
    font-family: 'Roboto Slab',serif;
    font-size: 3vw;
    margin-top: 3.5vh;
}

#icon{
    height: 30vh;
}

#desc{
    color: antiquewhite;
    font-family: 'Lobster', cursive;
    font-size: 1.5vw;
}

.temp{
    font-family: 'Sen', sans-serif;
    font-size: 1.5vw;
    color: antiquewhite
}

#sunrise{
    float: left;
    margin-left: 3vh;
    font-family: 'Lobster', cursive;
    font-size: 1.5vw;
    color: rgb(5, 5, 82);

}
#sunset{
    float: right;
    margin-right: 3vh;
    font-family: 'Lobster', cursive;
    font-size: 1.5vw;
    color: rgb(5, 5, 82);
}

.bg:hover{
    width: 80vh;
    height: 80vh;
    border-radius: 240px;
}

h2{
    font-size: 2.4vw;
    margin-top: 10vh;
    
}
.search{
    margin-bottom: 5vh;
}
#input{
    padding: 1vh;
    border-radius: 15px;
    border: black 3px double;
    box-shadow: inset 2px 2px 2px black,inset -2px -2px 2px darkgray;
}
#submit{
    padding: 1vh;
    border-radius: 15px;
    font-size: 12px;
    box-shadow: inset 2px 2px 2px darkgray;
}

#input:focus{
    padding: 1.5vh;
}
@media (min-height:640px){
    .bg{
        max-width: 140%;
        max-height: 40%;
    }
    #icon{
        max-height: 12vh;
    }
    #location{
        margin-top: 1vh;
        font-size: 110%;
    }
    #desc
    {
       font-size: 100%;
    }
    .temp{
        font-size: 90%;
    }
    #sunrise{
        font-size: 2.1vw;
        margin-left: 2px;
    }
    #sunset{
        font-size: 2.1vw;
        margin-right: 2px;
    }
    #submit{
        margin-left: 63px;
        margin-top: 4px;
    }
    #input{
        padding: 0.5vh;
    }
}
